html, body {
    color:#ccc;
    background-color:black;
}
/*  header */

.ih-topbar, .ih-topbar .uk-navbar {
	background:black;
}
.ih-header-container {

}
.ih-header-container .uk-navbar {
	background:none transparent;
	border-bottom:0;
	text-align:right;
}
h1.page-title {

}
h1,h2,h3,h4,h5 {
   font-family: 'Raleway', sans-serif;
   color:#ddd;
}
.ds-darkbgs h1.page-title {
	color:rgba(255,255,255,0.8);
	margin-bottom:70px;
}
.uk-nav-side .uk-nav-header {
    color:#ccc;
    border-bottom:2px solid rgba(255,255,255,0.5);
    display:block;
    margin-bottom:15px;
}
.ih-header-container .uk-overlay-panel .uk-grid {
	min-height:212px;
}
.ih-header-container .ds-darkheader .ds-mainmenu > a {
	color:rgba(255,255,255,0.6);
}
.ih-header-container .ds-mainmenu a {
	text-shadow: none;
    text-decoration: none;
}
.ih-header-container .ds-mainmenu:hover > a {
	color:#fff;
}
.ih-header-container .ds-mainmenu > a:focus {
    background:transparent;
}
.ih-header-container .ds-mainmenu .uk-dropdown-navbar {
    background:#ccc;
}
.ih-header-container .ds-darkheader .ds-mainmenu .uk-dropdown-navbar {
	background:rgba(0,0,0,0.5);
}
.ih-header-container .ds-mainmenu .uk-dropdown {
    text-align:left;
    border:0;
}
.ih-header-container .ds-mainmenu .uk-dropdown:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.site-branding {
	display:none;
}
.uk-navbar-nav>li>a {
    text-shadow:none;
    border:0;
}
.uk-navbar-nav>li.uk-open>a, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus {
    background-color:transparent;
    color:#fff;
    border:0
    text-shadow:none;
    text-decoration:none;
}
.ds-mainmenu .ds-mainmenu > a {
    color:#555;
}
.ih-header-container.ds-darkbgs {
	background:url(../img/darkbgs/greypolygonswide.jpg) center center #666;
    background-size:cover;
    background-attachment: fixed;
}
.uk-tag {
    float:left;
    margin-right:3px;
    position:relative;
}
.uk-tag a {
    padding:4px 9px;
    font-size:11px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-family:verdana;
    color:#3b3d3c;
    background:#f3f3f3;
}
.uk-tag a:hover {
    text-decoration:none;
    background:#ddd;
}

.kitty-teaser {
    box-shadow:0 0 30px rgba(0,0,0,0.1);
}
.uk-back-black {
    background:#333;
}
.block-user-login-block .user-login-form {
    margin-left:15px;
}
.block-user-login-block .user-login-form label {
    color:#aaa;
}
.page-node-type-page .field--name-field-image {
    margin-bottom:30px;
    box-shadow:0 0 45px #ccc;
}
.kitty-teaser .uk-subnav-pill a {
    border:1px solid rgba(30,30,30,0.2);
}
/*  pure css post tags */
.ds-tags li, .ds-tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
	}
.ds-tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#00a8e6;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;
    margin-bottom:5px;
	} 
.ds-tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #00a8e6 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
	}
.ds-tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
	}
.ds-tags a:hover{background:#555;}	

.ds-tags a:hover:before{border-color:transparent #555 transparent transparent;}


ul.ds-nodelinks {
    padding-left:0;
    margin:0 -15px -15px -15px;
    background-color:#f5f5f5;
    overflow:hidden;
    border-top:1px solid #ddd;
}
.ds-nodelinks > li {
    float:left;
    list-style:none;
    font-size:12px;
}
.ds-nodelinks > li.comment-forbidden {
    padding:10px 15px;
}
.ds-nodelinks > li.comment-forbidden a {
    padding:0;
    border:0;
}
.ds-nodelinks > li > a {
    padding:10px 15px;
    display:inline-block;
    text-decoration:none;
    color:#555;
    border-right:1px solid #ddd;
    font-size:12px;
}
.ds-nodelinks > li > a:hover {
    background-color:#eee;
    color:#111;
}
.ds-nodelinks > li.node-readmore > a:hover {
    background-color:#00a8e6;
    color:#fff;
}
.node-readmore a:before {
    content: "\f1ea";
    font-family: FontAwesome;
    
    padding-right:6px;
    margin-bottom:-2px;
 }
.comment-add a:before {
    content: "\f0e5";
    font-family: FontAwesome;
    
    padding-right:6px;
    margin-bottom:-2px;
 }
.bx-teaser {
	border-radius:5px;
}
.bx-teaser .uk-overlay-panel a {
	text-decoration:none;
	text-transform:uppercase;
}
.bx-margin-box {
	margin-bottom:5px;
}
.uk-overlay-panel.ds-portfolio-item a {
    font-family: 'Crimson Text', serif;
    font-size:22px;
    text-decoration:none;
    color:#222;
    padding:10px;
}
.uk-overlay-background.ds-portfolio-item {
    background:rgba(255,255,0,0.8)
}

.field--name-title {
	font-family: 'heavy';
	font-size:54px;
	text-transform:uppercase;
	line-height:1.1em;
}
.path-frontpage .field--name-title {
    font-size:23px;
}
.path-frontpage {
	background-color:#111;
}
.path-frontpage h1.page-title {display:none;}
.bx-container {padding:5px;}
.path-frontpage .uk-grid-small > * {
    padding-left: 5px;
}
.path-frontpage .uk-grid-small {
    margin-left: -5px;
}
.uk-overlay-hover:not(:hover):not(.uk-hover) .uk-overlay-panel:not(.uk-ignore) {
    opacity:.8;
}
.bx-trans-black {
	background-color: rgba(0,0,0,.6);
}
.uk-nav-side > li > a:focus, .uk-nav-side > li > a:hover {
    text-shadow:none;
    color:#eee;
}
.bx-bk-overlay {
    background: rgba(0,0,0,.4);
}
.bx-sticky-header {
    background:#111;
}
.site-logo {
    width:100px;
}
.uk-dropdown-navbar {
    background:#000;
}
.uk-dropdown {
    border:1px solid #000;
}
blockquote {
    border-left:0;
    padding-left:45px;
    font-family: 'Crimson text';
    font-size:1.5em;
    line-height:1.5em;
    margin-top:40px;
    margin-bottom:40px;
}
blockquote:before {
    content: "\f10D";
    font-family: FontAwesome;
    font-size:30px;
    position:absolute;
    left:0;
}
.text-formatted > p {
    line-height:1.7em;
}